@import 'tailwindcss';
@import '@fontsource-variable/space-grotesk/wght.css';
@import '@fontsource-variable/inter/wght.css';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *)); 

:root {
  color-scheme: light dark;
}
.dark {
  color-scheme: dark;
}
.light {
  color-scheme: light;
}

@variant dark {
  &:where(.dark, .dark *) {
    @slot;
  }
  @media (prefers-color-scheme: dark) {
    &:where(.system, .system *) {
      @slot;
    }
  }
}

@theme {
  --color-bg: var(--color-slate-50);
  --color-pattern: var(--color-slate-500);
  --color-card-bg: var(--color-slate-50);
  --color-link: var(--color-blue-500);
  --color-local-link: var(--color-blue-500);
  --color-ggb: oklch(0.532 0.1415 42.22);
  --color-border: var(--color-slate-800);
  --color-text: var(--color-slate-900);

  --color-dark-bg: var(--color-slate-950);
  --color-dark-pattern: var(--color-slate-500);
  --color-dark-card-bg: var(--color-slate-950);
  --color-dark-link: var(--color-blue-300);
  --color-dark-local-link: var(--color-blue-300);
  --color-dark-ggb: oklch(0.6116 0.1288 43.9);
  --color-dark-border: var(--color-slate-500);
  --color-dark-text: var(--color-slate-300);
}

body {
    font-family: "Inter Variable", sans-serif;
}

h1, h2 {
    font-family: "Space Grotesk Variable", sans-serif;
    font-weight: 700;
}